<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date %-5level [%thread] %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="eu.leitha" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>